@using DataLayer;
@model List<DataLayer.Auction>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = (User)Session["Admin"];
}
<link href="~/Content/Css/home.css" rel="stylesheet" />
<link href="~/Content/Css/main.css" rel="stylesheet" />
<body>
    <div id="slider_container">
        <div id="featured_carousel">

            <div class="content lockedAuctions lockedAuctions_en">
                <a target="_blank" href="http://blog.quibids.com/locked-auctions-winning-just-got-easier/" class="buttons green large"> بیشتر بدانید! </a>
            </div>
            <div class="content promoFreeShippingForever"></div>
            <div class="content promo promoStore"><a class="widelink" href="/en/quibids101/whats-new-store.php"></a></div>
            <div class="content howItWorks">
                <div class="title bold"><span class="orange">کویی بیدز چطور کار میکند؟</span></div>
                <div class="box box-1">
                    <div class="icon"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/carousel/archive/icon/pencil.gif" alt="pencil" width="63" height="62" /></div>
                    <div class="title"> عضو شوید و پیشنهاد خریداری کنید</div>
                    <div class="body">پیشناهدات فقط <span class="bold"><span class="green">$0.40</span></span> برای هر شخص هستند.  موجودی دریافت کنید و شروع به پیدا کردن محصولات جدید کنید.	</div>
                </div>
                <div class="box box-2">
                    <div class="icon"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/carousel/archive/icon/cart.gif" alt="cart" width="63" height="54" /></div>
                    <div class="title">محصولات را انتخاب کنید .</div>
                    <div class="body">
                        هرچیزی که میخواهید انتخاب کنید <span class="bold"><span class="green">HDTV, یک لپ تاپ جدید , و پیشنهادات دیگر.</span></span>
                    </div>
                </div>
                <div class="box box-3">
                    <div class="icon"><img src="https://dcfv5z6t7wfeu.cloudfront.net/site/images/carousel/archive/icon/gift.gif" alt="gift" width="64" height="64" /></div>
                    <div class="title">	پیشنهاد و برنده شدن		</div>

                    <div class="body">	,به کلیک کردن کردن ادامه دهید - اگر شما اخرین نفری باشید که وقتی تایمر صفر میشود پیشنهاد داده <span class="bold green">شما برنده اید </span>	</div>
                </div>
                <div class="box box-4">
                    <div class="title">عضو شوید و <span class="orange">شروع به برنده شدن کنید</span> همین امروز!</div>
                    <div class="body"><a href="/en/landing/" class="buttons green large">	همین الان عضو شوید!		</a></div>
                </div>
            </div>
            <div class="content winners">
                <div class="title">
                    <span>اعضای</span> QuiBidsFarsi  <span>هر روز</span> برنده ی <span>هزاران محصول جدید </span> میشوند .
                </div>
                <div class="body">
                    <div> پیشینهاد را روی موارد اخر برند های بزرگ بگذارید</div>
                    <div>95%بهترین محصولات الکترونیکی را داشته باشید</div>
                    <div>Never pay retail again!</div>
                </div>
                <a href="" class="buttons orange large"> همین امروز عضو شوید!	</a>
            </div>
            <div class="content tips">
                <div class="title">Find Out How to Win Big!</div>
                <div class="body">
                    See <span>tips</span> and <span>tricks</span> from our staff on best practices for <span>Winning Big</span> on <span>QuiBids!</span>
                </div>
                <ul>
                    <li>
                        <a href="">
                            سه اشتباه بزرگ که نبتدی ها مرتکب میشوند
                        </a>
                    </li>
                    <li>
                        <a href="">
                            به دنبال " بزرگترین " بودن
                        </a>
                    </li>
                    <li>
                        <a href="">
                            و خیلی چیز های دیگر
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content badges">
                <div class="title">
                    <span class="bold">
                        Cash in with <span class="green">QuiBids Badges!</span>
                    </span>
                </div>
                <div class="body">
                    Badges are the best way to earn <span class="bold"><span class="green">FREE BIDS, achieve goals,</span></span> and  <span class="bold"><span class="green">gain experience</span></span> for shopping with QuiBids.
                </div>
                <a href="/en/badges/" class="buttons green large"> بیشتر بدانید		</a>
            </div>

        </div>
    </div>


    <script type="text/javascript">
        if (jQuery.browser.mobile) {
            $('#slider_container').hide();
        } else {
            $('#featured_carousel').orbit({
                animationSpeed: 800,             // how fast animtions are
                timer: true, 			 // true or false to have the timer
                advanceSpeed: 4000, 		 // if timer is enabled, time between transitions
                pauseOnHover: true, 		 // if you hover pauses the slider
                startClockOnMouseOut: true, 	 // if clock should start on MouseOut
                startClockOnMouseOutAfter: 0 	 // how long after MouseOut should the timer start again
            });
        }
    </script>


    <div id="auctions">
        <input type="hidden" class="userId" name="userId" data-userId="@user.Id" />

        <div id="container" class="home">
            <div id="featured">
                <div id="breadcrumbs">
                    <ul>
                        <li class="featured bold">فعالیت های حال حاضر</li>
                    </ul>
                </div>

                <div id="category-panel" class="expand">
                    <h4>
                        محصول را نشانه گذاری کنید <img src="~/Content/img/Layout/filter-arrow.png" class="filter-arrow-dropdown" />
                    </h4>

                    <ul>
                        <li class="active"><a tab="0" class="id-0" href="/en/auctions-live-auctions">فعالیت های حال حاظر</a></li>
                        <li class=""><a tab="2352" class="id-2352" href="/en/auctions-electronics">الکترونیکی ها</a></li>
                        <li class=""><a tab="4087" class="id-4087" href="/en/auctions-home-and-garden">خانه و باغچه</a></li>
                        <li class=""><a tab="8932" class="id-8932" href="/en/auctions-jewelry-and-fashion">مد و جواهرات</a></li>
                        <li class=""><a tab="5492" class="id-5492" href="/en/auctions-sports-and-recreation">ورزش و سرگرمی</a></li>
                        <li class=""><a tab="9886" class="id-9886" href="/en/auctions-specialty-shops">فروش های ویژه</a></li>
                        <li class=""><a tab="17" class="id-17" href="/en/auctions-gift-cards">کارت های هدیه</a></li>
                        <li class=""><a tab="12" class="id-12" href="/en/auctions-vouchers-and-limit-busters">اسناد Limit Busters</a></li>
                        <li class=""><a tab="9816" class="id-9816" href="/en/auctions-events">وقایع</a></li>
                        <li class=""><a tab="c" class="id-c" href="/en/auctions-completed">کامل شده های اخیر</a></li>
                        <li class=""><a tab="n" class="id-n" href="/en/auctions-new-products">محصولات جدید</a></li>
                        <li class=""><a tab="w" class="id-w" href="/en/auctions-watchlist">Watchlist</a></li>
                    </ul>
                </div>


                <div id="display-sort">
                    <ul>
                        <li class="sort">
                            <h4 class="light-grey">
                                <a href="#" id="sort-button" class="">
                                    دسته بندی: <span id='sort-title'>درحال اتمام</span> <img src="~/Content/img/Layout/filter-arrow.png" class="filter-arrow-dropdown" />
                                </a>
                            </h4>
                        </li>
                    </ul>

                    <div id="sort-panel">
                        <ul>
                            <li><h4 class="light-grey">دسته بندی بر اساس</h4></li>
                            <li><label><input checked='checked' value='sortby_endingsoon' type='radio' name='sort' title='درحال اتمام'>درحال اتمام</label></li>
                            <li><label><input value='sortby_valuehigh' type='radio' name='sort' title='گران ترین'>گران ترین</label></li>
                            <li><label><input value='sortby_valuelow' type='radio' name='sort' title='ارزان ترین'>ارزان ترین</label></li>
                            <li><label><input value='sortby_popular' type='radio' name='sort' title='مشهور ترین'>مشهور ترین</label></li>
                        </ul>
                    </div>
                </div>

                <div class="auction-type">

                    <ul class="types"></ul>

                    <div id="options">
                        <div style="float:left">

                            <a href="#" id="filtersbutton" class="buttons small white filter">مرتب سازی بر اساس </a>
                            <div id="filter-panel">
                                <div class="left-column">
                                    <h5 class="bold">قیمت:</h5>
                                    <ul>

                                        <li><label><input value="value_0-50" data-label='$0-50' name="$0-50" type='checkbox' />$0-50</label></li>
                                        <li><label><input value="value_50-100" data-label='$50-100' name="$50-100" type='checkbox' />$50-100</label></li>
                                        <li><label><input value="value_100-300" data-label='$100-300' name="$100-300" type='checkbox' />$100-300</label></li>
                                        <li><label><input value="value_300-500" data-label='$300-500' name="$300-500" type='checkbox' />$300-500</label></li>
                                        <li><label><input value="value_500+" data-label='$500+' name="$500+" type='checkbox' />$500+</label></li>
                                    </ul>
                                </div>

                                <div class="right-column">
                                    <h5 class="bold">به صورت:</h5>
                                    <ul>
                                        <li><label><input value="feature_bidomatic" data-label='Bid-O-Matic' name="Bid-O-Matic" type='checkbox' />Bid-O-Matic</label></li>
                                        <li><label><input value="feature_nobidomatic" data-label='No Bid-O-Matic' name="No Bid-O-Matic" type='checkbox' />No Bid-O-Matic</label></li>
                                        <li><label><input value="feature_plusbids" data-label='Hybrid Auctions' name="Hybrid Auctions" type='checkbox' />فعالیت های چندگانه</label></li>
                                    </ul>
                                </div>
                                <div style='clear:both;'></div>
                                <div><a style='display:none' id='filter-panel-apply' class='buttons blue small right'>Apply</a></div>
                            </div>
                            <!--<a href="#" id="sortbutton" class="buttons small white filter">Sort By <img src="~/Content/img/Layout/arrow.gif" class="filters-icon"/></a>
                            <div id="sort-panel">
                            <ul>
                            <li><label><input checked='checked'  value='sortby_endingsoon' type='radio' name='sort'>درحال اتمام</label></li><li><label><input value='sortby_valuehigh' type='radio' name='sort'>گران ترین</label></li><li><label><input value='sortby_valuelow' type='radio' name='sort'>ارزان ترین</label></li><li><label><input value='sortby_popular' type='radio' name='sort'>مشهور ترین</label></li>									</ul>
                            </div>	-->
                        </div>

                        <ul id='filter-breadcrumb'></ul>

                        <div class="pagination" style="display:none"></div>
                    </div><!--options-->

                    <div id="no_results_container">
                        <div id="no_results">
                            <h4>موردی یافت نشد</h4>
                            <a href="">تمام فعالیت های حال حاضر نمایش داده شوند؟</a>
                        </div>
                        <div class="bannerad">
                            @*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*@
                            <!-- 2015 - QB No Search Results -->
                            <ins class="adsbygoogle"
                                 style="display:inline-block;width:728px;height:90px"
                                 data-ad-client="ca-pub-4560135486422930"
                                 data-ad-slot="1353269009"></ins>
                            <script>
                                (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        </div>
                    </div>

                    <div id="spots" class="content">
                        @foreach (var item in Model)
                        {
                            <div class=" auction-item-wrapper">
                                <div>
                                    <h5 class="auction-item-title">
                                        <a class="title" href="">$@item.Product.Price  @item.Product.Name</a>
                                    </h5>
                                </div>
                                <div class="auction-item-img">
                                    <p style="width: 168px; height: 110px; padding-bottom: 5px;">

                                        <img src="~/Content/img/e.jpg" />
                                    </p>
                                </div>
                                <div class="clear"></div>
                                <h2 id="time" class="time bold  red">@item.Auction_Time</h2>
                                <input type="hidden" id="close" class="closeTime" name="closeTime" value="@item.Close_Time" />
                                <input type="hidden" id="auctionId" class="auctionId" name="auctionId" value="@item.Id" />
                                <input type="hidden" class="reset" name="resetTime" value="0" />
                                <input type="hidden" class="statusClick" name="status" value="0" />
                                <input type="hidden" class="Startstatus" name="Startstatus" data-Start="@item.StartStatus" />
                                <input type="hidden" class="isClose" name="isClose" data-Close="@item.IsClose" />
                                <h3 id="Reserve_Price" class="price green Reserve-Price" data-reservePrice="@item.Reserve_Price"> $@item.Reserve_Price</h3>
                                <h5 class="winning grey" data-currentUser="">@(item.User != null ? item.User.Fname : "هیچ پیشنهادی نداریم" )</h5>
                                @if (item.IsClose)
                                {
                                    <p class="p">
                                        <img class="buttons bid medium  btntest" src="~/Content/img/Sold.png" />
                                    </p>
                                }
                                else
                                {
                                    <p class="p">
                                        <img class="buttons bid medium  btntest" src="~/Content/img/Pishnehad.png" />
                                    </p>
                                }

                            </div>
                        }

                    </div><!--ending-->
                    <hr />

                    <div id="show_more_auctions">
                        <div class="pagination" style="display:none"></div><div class="pagination" style="display:none"></div>
                    </div>
                    <div class="module legend">
                        <div class="content">

                            <ul class='auction-legend'>
                                <li class="title">فهرست</li>
                                <li class='tooltip-bottom voucher-on' title="Hybrid auctions include a specified number of Voucher Bids, so you can keep on winning! فعالیت های چندگانه که شامل یک سری از اعداد مشخص">گواهی نامه بیدز</li>
                                <li class='tooltip-bottom bidomatic-on' title="!فعالیت های bid-o-matic به شما اجازه میدهد تا حتی زمانی که ار کاپیوترتان دور هستید در مزایده شرکت کنید">Bid-O-Matic</li>
                                <li class="tooltip-bottom locked" title="به علت فعالیت بالای مزایده کننده گان این بخش قفل است.<br/>
شرکت کننده گان جدید نمیتوانند وارد این قسمت از فعالیت ها شوند.">فعالیت های قفل شده</li>
                                <li class="tooltip-bottom unlocked" title="به علت فعالیت بالای مزایده کننده گان این بخش قفل است.<br/>
.شما میتوانید به مزایده ادامه دهید ولی شرکت کننده گان جدید نمیتوانند وارد این بخش از فعالیت ها شوند.">فعالیت های مجاز</li>
                            </ul>

                        </div>
                    </div>





                </div><!--auction-type-->

            </div><!--container-->





        </div><!--auctions-->
    </div>
    @*<script src="~/Scripts/JScript/IndexAuction.js"></script>*@


    <script>
        $(".btntest").click(function () {
            var currentUser = $(this).parent().siblings(".Current_User");
            var Startstatus = $(this).parent().siblings(".Startstatus");
            var userID = $('.userId').attr('data-userId');

            if (Startstatus.attr('data-Start') == "True") {
                var currentBids = $('#template_bidsavailable').text();
                if (currentBids == 0) {
                    alert("You do not have enough bids left in your account to bid.");
                    return false;
                }
                var revPrice = $(this).parent().siblings('.Reserve-Price');
                var currency = revPrice.html().replace('$', '').trim();
                var sumCurrency = parseInt(currency) + 1;
                revPrice.html('$' + sumCurrency);
                var res = sumCurrency;
                $(this).parent().siblings(".statusClick").val("1");
                $.ajax({
                    type: "POST",
                    url: "/home/LowerBids/",
                    data: {
                        Current_UserId: userID,
                        id: $(this).parent().siblings(".auctionId").val(),
                        Reserve_Price: res
                    },
                    success: function (result) {
                        currentUser.text(currentUser.attr('data-currentUser'));
                        $('#template_bidsavailable').text(result.currentbids);

                    },
                    error: function (result) {
                        alert('error');
                    }
                });
            }
        });
        function saveTimer(timer, id, startStatus) {
            $.ajax({
                type: "POST",
                url: "/home/UpdateTimer/",
                data: {
                    timer: timer,
                    id: id,
                    Startstatus: startStatus
                    //startStatus=startstatus,
                    //isClose=isclose
                },
                success: function (result) {

                    //alert('success');
                },
                error: function (result) {
                    alert('error');
                    return false;
                }
            });
        }
        function updateIsclose(id) {
            $.ajax({
                type: "POST",
                url: "/home/UpdateIsclose/",
                data: {
                    id: id

                },
                success: function (result) {

                    //alert('success');
                },
                error: function (result) {
                    alert('error');
                    return false;
                }
            });
        }
        function startTimer(duration, display) {

            var minutes, seconds, hours;
            var timer = duration;
            var closeTime = $(display).siblings(".closeTime").val();
            var status = $(display).siblings(".statusClick");
            var Startstatus = $(display).siblings(".Startstatus");
            var isClose = $(display).siblings(".isClose");
            var id = $(display).siblings(".auctionId").val();

            var intervalId = setInterval(function () {
                if ((Startstatus.attr('data-Start') == "True") && (timer == 0 && status.val() == 0))//time reset shode va kasi mojadaddarmozaede sherkat nakard.
                {
                    var img = $(display).parent().children(".p").children(".btntest");
                    $(img).attr("src", "/Content/img/Sold.png");
                    $(img).css({ "pointer-events": "none" });
                    isClose.attr('data-Close', 'True');
                    updateIsclose(id);
                    window.clearInterval(intervalId);
                }
                if (status.val() == "1") {
                    timer = closeTime;
                    status.val("0");
                }
                hours = parseInt((timer / 3600) % 24, 10);
                minutes = parseInt((timer / 60) % 60, 10);
                seconds = parseInt(timer % 60, 10);
                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = hours + ":" + minutes + ":" + seconds;

                if (--timer == -1) {
                    timer = closeTime;
                    Startstatus.attr('data-Start', 'True');
                    //update startStatus aya inja bashe ya dar saveTimer;
                }
                saveTimer(hours + ":" + minutes + ":" + seconds, id, Startstatus.attr('data-Start'));
            }, 1000);
        }
        window.onload = function () {
            var everyChild = document.getElementById("spots").querySelectorAll("#time");

            for (var i = 0; i < everyChild.length; i++) {
                const time = everyChild[i].innerText;
                var a = time.split(':'); // split it at the colons
                // minutes are worth 60 seconds. Hours are worth 60 minutes.
                var seconds = (+a[0]) * 60 * 60 + (+a[1]) * 60 + (+a[2]);

                //var fiveMinutes = 60 * 5,
                var display = everyChild[i];
                var isClose = $(display).siblings(".isClose");
                if (isClose.attr('data-Close') == "True")
                    continue;
                startTimer(seconds, display);
            }
        };
    </script>

    @*<script src="~/Scripts/JScript/Auction.js"></script>*@
</body>
