@model DataLayer.User
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<title>My Account Information - QuiBids.com</title>


<body class="market-US">



    <div class="gloss">
        <div class="wrapper">

            <div id="container">

                <script>
                    $(document).ready(function () {
                        $('.tabs li').each(function (index) {
                            var tabClass = $(this).attr('class');
                            if (tabClass == "myaccount") {
                                $(this).addClass('ui-state-active');
                            }
                        });
                        $('.panel-content li').each(function (index) {
                            var panelHtml = $(this).attr('class');
                            if (panelHtml == "myinformation") {
                                $(this).addClass('active');
                            }
                        });


                        if ($('.panel-content').length == 0) {
                            $('.tab-nav').css('border', '0px');
                        }
                        //$.scrollTo('.tab-nav',0);
                    });

                </script>
                <div class="tab-nav">
                    <div id="myaccount">
                        <ul class="panel-content">
                            <li class="myinformation"><a href="https://www.quibids.com/en/account/myaccount/">My Information</a></li>
                            <li class="changepassword"><a href="https://www.quibids.com/en/account/myaccount/password.php">Change Password</a></li>
                            <li class="myavatar"><a href="https://www.quibids.com/en/account/myaccount/avatar.php">My Avatar</a></li>
                            <li class="notifications"><a href="https://www.quibids.com/en/account/myaccount/notifications.php">Notifications</a></li>
                            <li class="redeemcoupon"><a href="https://www.quibids.com/en/account/myaccount/redeem-coupon.php">Redeem Promo</a></li>
                        </ul>
                    </div>
                </div><!--end tabs-->

                <div class="content">

                    <div id="main-content" class="twocol-left">


                        <div class="module">
                            <h3 class="orange bold">My Profile</h3>
                            <div class="content">
                                <div class="module-left">
                                    <ul>
                                        <li class="bold">Name:</li>
                                        <li class="bold">Username:</li>
                                        <li class="bold">Email:</li>
                                        <li class="bold">Hide My Location:</li>
                                        <li class="bold">Time Zone:</li>
                                    </ul>
                                </div>

                                <div class="module-right">
                                    <form method="POST">
                                        <input type="hidden" name="action" value="updatePreferences" />
                                        <ul>
                                            <li>@Model.Fname @Model.Lname</li>
                                            <li>@Model.Email</li>
                                            <li>@Model.Email (< a href = "email.php" > Update </ a >)</li>
                                            <li>
                                                <fieldset>
                                                    <input name="incognito" value="Yes" type="radio" class="checkbox">
                                                    Yes    									&nbsp;
                                                    <input name="incognito" value="No" type="radio" class="checkbox" checked>
                                                    No
                                                </fieldset>

                                                &nbsp; &nbsp; <a href="#" class="tooltip-top" title="What's Hide My Location?<br/>While we assure you that shopping on QuiBids isn't directly compromising to your online security, we<br/>understand your wish to remain as anonymous as possible when using the Internet.  This is why we've<br/>built the Hide My Location option into your user profile, so you can maintain a certain level of mystique<br/>to other users. Select Yes and your location will appear as the country from where you're bidding."><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/auctions/question-hover.png" /></a>
                                            </li>
                                            <li>
                                                <fieldset>
                                                    <select name="account_timezone" id="accountTimezone">
                                                        <option value="">N/A</option>
                                                        <optgroup label='Africa'><option value="71"> -- Abidjan (GMT +0)</option><option value="72"> -- Accra (GMT +0)</option><option value="73"> -- Addis_Ababa (GMT +3)</option><option value="74"> -- Algiers (GMT +1)</option><option value="75"> -- Asmara (GMT +3)</option><option value="76"> -- Bamako (GMT +0)</option><option value="77"> -- Bangui (GMT +1)</option><option value="78"> -- Banjul (GMT +0)</option><option value="79"> -- Bissau (GMT +0)</option><option value="80"> -- Blantyre (GMT +2)</option><option value="81"> -- Brazzaville (GMT +1)</option><option value="82"> -- Bujumbura (GMT +2)</option><option value="83"> -- Cairo (GMT +2)</option><option value="84"> -- Casablanca (GMT +0)</option><option value="85"> -- Ceuta (GMT +2)</option><option value="86"> -- Conakry (GMT +0)</option><option value="87"> -- Dakar (GMT +0)</option><option value="88"> -- Dar_es_Salaam (GMT +3)</option><option value="89"> -- Djibouti (GMT +3)</option><option value="90"> -- Douala (GMT +1)</option><option value="91"> -- El_Aaiun (GMT +0)</option><option value="92"> -- Freetown (GMT +0)</option><option value="93"> -- Gaborone (GMT +2)</option><option value="94"> -- Harare (GMT +2)</option><option value="1"> -- Johannesburg (GMT +2)</option><option value="95"> -- Juba (GMT +3)</option><option value="96"> -- Kampala (GMT +3)</option><option value="97"> -- Khartoum (GMT +3)</option><option value="98"> -- Kigali (GMT +2)</option><option value="99"> -- Kinshasa (GMT +1)</option><option value="2"> -- Lagos (GMT +1)</option><option value="100"> -- Libreville (GMT +1)</option><option value="101"> -- Lome (GMT +0)</option><option value="102"> -- Luanda (GMT +1)</option><option value="103"> -- Lubumbashi (GMT +2)</option><option value="104"> -- Lusaka (GMT +2)</option><option value="105"> -- Malabo (GMT +1)</option><option value="106"> -- Maputo (GMT +2)</option><option value="107"> -- Maseru (GMT +2)</option><option value="108"> -- Mbabane (GMT +2)</option><option value="109"> -- Mogadishu (GMT +3)</option><option value="110"> -- Monrovia (GMT +0)</option><option value="111"> -- Nairobi (GMT +3)</option><option value="112"> -- Ndjamena (GMT +1)</option><option value="113"> -- Niamey (GMT +1)</option><option value="114"> -- Nouakchott (GMT +0)</option><option value="115"> -- Ouagadougou (GMT +0)</option><option value="116"> -- Porto-Novo (GMT +1)</option><option value="117"> -- Sao_Tome (GMT +0)</option><option value="118"> -- Tripoli (GMT +2)</option><option value="119"> -- Tunis (GMT +1)</option><option value="3"> -- Windhoek (GMT +1)</option></optgroup>
                                                        <optgroup label='America'><option value="4"> -- Adak (GMT -9)</option><option value="5"> -- Anchorage (GMT -8)</option><option value="120"> -- Anguilla (GMT -4)</option><option value="121"> -- Antigua (GMT -4)</option><option value="122"> -- Araguaina (GMT -3)</option><option value="6"> -- Argentina/Buenos_Aires (GMT -3)</option><option value="123"> -- Argentina/Catamarca (GMT -3)</option><option value="124"> -- Argentina/Cordoba (GMT -3)</option><option value="125"> -- Argentina/Jujuy (GMT -3)</option><option value="126"> -- Argentina/La_Rioja (GMT -3)</option><option value="127"> -- Argentina/Mendoza (GMT -3)</option><option value="128"> -- Argentina/Rio_Gallegos (GMT -3)</option><option value="129"> -- Argentina/Salta (GMT -3)</option><option value="130"> -- Argentina/San_Juan (GMT -3)</option><option value="131"> -- Argentina/San_Luis (GMT -3)</option><option value="132"> -- Argentina/Tucuman (GMT -3)</option><option value="133"> -- Argentina/Ushuaia (GMT -3)</option><option value="134"> -- Aruba (GMT -4)</option><option value="7"> -- Asuncion (GMT -4)</option><option value="135"> -- Atikokan (GMT -5)</option><option value="136"> -- Bahia (GMT -3)</option><option value="137"> -- Bahia_Banderas (GMT -5)</option><option value="138"> -- Barbados (GMT -4)</option><option value="139"> -- Belem (GMT -3)</option><option value="140"> -- Belize (GMT -6)</option><option value="141"> -- Blanc-Sablon (GMT -4)</option><option value="142"> -- Boa_Vista (GMT -4)</option><option value="8"> -- Bogota (GMT -5)</option><option value="143"> -- Boise (GMT -6)</option><option value="144"> -- Cambridge_Bay (GMT -6)</option><option value="145"> -- Campo_Grande (GMT -4)</option><option value="146"> -- Cancun (GMT -5)</option><option value="9"> -- Caracas (GMT -4.5)</option><option value="147"> -- Cayenne (GMT -3)</option><option value="148"> -- Cayman (GMT -5)</option><option value="10" selected> -- Chicago (GMT -5)</option><option value="149"> -- Chihuahua (GMT -6)</option><option value="150"> -- Costa_Rica (GMT -6)</option><option value="151"> -- Cuiaba (GMT -4)</option><option value="152"> -- Curacao (GMT -4)</option><option value="153"> -- Danmarkshavn (GMT +0)</option><option value="154"> -- Dawson (GMT -7)</option><option value="155"> -- Dawson_Creek (GMT -7)</option><option value="11"> -- Denver (GMT -6)</option><option value="156"> -- Detroit (GMT -4)</option><option value="157"> -- Dominica (GMT -4)</option><option value="158"> -- Edmonton (GMT -6)</option><option value="159"> -- Eirunepe (GMT -5)</option><option value="160"> -- El_Salvador (GMT -6)</option><option value="161"> -- Fortaleza (GMT -3)</option><option value="162"> -- Glace_Bay (GMT -3)</option><option value="12"> -- Godthab (GMT -2)</option><option value="163"> -- Goose_Bay (GMT -3)</option><option value="164"> -- Grand_Turk (GMT -4)</option><option value="165"> -- Grenada (GMT -4)</option><option value="166"> -- Guadeloupe (GMT -4)</option><option value="13"> -- Guatemala (GMT -6)</option><option value="167"> -- Guayaquil (GMT -5)</option><option value="168"> -- Guyana (GMT -4)</option><option value="14"> -- Halifax (GMT -3)</option><option value="169"> -- Havana (GMT -4)</option><option value="170"> -- Hermosillo (GMT -7)</option><option value="171"> -- Indiana/Indianapolis (GMT -4)</option><option value="172"> -- Indiana/Knox (GMT -5)</option><option value="173"> -- Indiana/Marengo (GMT -4)</option><option value="174"> -- Indiana/Petersburg (GMT -4)</option><option value="175"> -- Indiana/Tell_City (GMT -5)</option><option value="176"> -- Indiana/Vevay (GMT -4)</option><option value="177"> -- Indiana/Vincennes (GMT -4)</option><option value="178"> -- Indiana/Winamac (GMT -4)</option>
                                                        <option value="179"> -- Inuvik (GMT -6)</option>
                                                        <option value="180"> -- Iqaluit (GMT -4)</option>
                                                        <option value="181"> -- Jamaica (GMT -5)</option>
                                                        <option value="182"> -- Juneau (GMT -8)</option><option value="183"> -- Kentucky/Louisville (GMT -4)</option><option value="184"> -- Kentucky/Monticello (GMT -4)</option><option value="185"> -- Kralendijk (GMT -4)</option><option value="186"> -- La_Paz (GMT -4)</option><option value="187"> -- Lima (GMT -5)</option><option value="15"> -- Los_Angeles (GMT -7)</option><option value="188"> -- Lower_Princes (GMT -4)</option><option value="189"> -- Maceio (GMT -3)</option><option value="190"> -- Managua (GMT -6)</option><option value="191"> -- Manaus (GMT -4)</option><option value="192"> -- Marigot (GMT -4)</option><option value="193"> -- Martinique (GMT -4)</option><option value="194"> -- Matamoros (GMT -5)</option><option value="195"> -- Mazatlan (GMT -6)</option><option value="196"> -- Menominee (GMT -5)</option><option value="197"> -- Merida (GMT -5)</option><option value="198"> -- Metlakatla (GMT -8)</option><option value="199"> -- Mexico_City (GMT -5)</option><option value="200"> -- Miquelon (GMT -2)</option><option value="201"> -- Moncton (GMT -3)</option><option value="202"> -- Monterrey (GMT -5)</option><option value="16"> -- Montevideo (GMT -3)</option><option value="203"> -- Montreal (GMT -4)</option><option value="204"> -- Montserrat (GMT -4)</option><option value="205"> -- Nassau (GMT -4)</option><option value="17"> -- New_York (GMT -4)</option><option value="206"> -- Nipigon (GMT -4)</option><option value="207"> -- Nome (GMT -8)</option><option value="18"> -- Noronha (GMT -2)</option><option value="208"> -- North_Dakota/Beulah (GMT -5)</option><option value="209"> -- North_Dakota/Center (GMT -5)</option><option value="210"> -- North_Dakota/New_Salem (GMT -5)</option><option value="211"> -- Ojinaga (GMT -6)</option><option value="212"> -- Panama (GMT -5)</option><option value="213"> -- Pangnirtung (GMT -4)</option><option value="214"> -- Paramaribo (GMT -3)</option><option value="19"> -- Phoenix (GMT -7)</option><option value="215"> -- Port-au-Prince (GMT -4)</option><option value="216"> -- Port_of_Spain (GMT -4)</option><option value="217"> -- Porto_Velho (GMT -4)</option><option value="218"> -- Puerto_Rico (GMT -4)</option><option value="219"> -- Rainy_River (GMT -5)</option><option value="220"> -- Rankin_Inlet (GMT -5)</option><option value="221"> -- Recife (GMT -3)</option><option value="222"> -- Regina (GMT -6)</option><option value="223"> -- Resolute (GMT -5)</option><option value="224"> -- Rio_Branco (GMT -5)</option><option value="225"> -- Santa_Isabel (GMT -7)</option><option value="226"> -- Santarem (GMT -3)</option><option value="227"> -- Santiago (GMT -4)</option><option value="20"> -- Santo_Domingo (GMT -4)</option><option value="228"> -- Sao_Paulo (GMT -3)</option><option value="229"> -- Scoresbysund (GMT +0)</option><option value="230"> -- Shiprock (GMT -6)</option><option value="231"> -- Sitka (GMT -8)</option><option value="232"> -- St_Barthelemy (GMT -4)</option><option value="21"> -- St_Johns (GMT -2.5)</option><option value="233"> -- St_Kitts (GMT -4)</option><option value="234"> -- St_Lucia (GMT -4)</option><option value="235"> -- St_Thomas (GMT -4)</option><option value="236"> -- St_Vincent (GMT -4)</option><option value="237"> -- Swift_Current (GMT -6)</option><option value="238"> -- Tegucigalpa (GMT -6)</option><option value="239"> -- Thule (GMT -3)</option><option value="240"> -- Thunder_Bay (GMT -4)</option><option value="241"> -- Tijuana (GMT -7)</option><option value="242"> -- Toronto (GMT -4)</option><option value="243"> -- Tortola (GMT -4)</option><option value="244"> -- Vancouver (GMT -7)</option><option value="245"> -- Whitehorse (GMT -7)</option><option value="246"> -- Winnipeg (GMT -5)</option><option value="247"> -- Yakutat (GMT -8)</option><option value="248"> -- Yellowknife (GMT -6)</option></optgroup>
                                                        <optgroup label='Antarctica'><option value="249"> -- Casey (GMT +8)</option><option value="250"> -- Davis (GMT +7)</option><option value="251"> -- DumontDUrville (GMT +10)</option><option value="252"> -- Macquarie (GMT +11)</option><option value="253"> -- Mawson (GMT +5)</option><option value="254"> -- McMurdo (GMT +12)</option><option value="255"> -- Palmer (GMT -4)</option><option value="256"> -- Rothera (GMT -3)</option><option value="257"> -- South_Pole (GMT +12)</option><option value="258"> -- Syowa (GMT +3)</option><option value="259"> -- Vostok (GMT +6)</option></optgroup>
                                                        <optgroup label='Arctic'><option value="260"> -- Longyearbyen (GMT +2)</option></optgroup>
                                                        <optgroup label='Asia'><option value="261"> -- Aden (GMT +3)</option><option value="262"> -- Almaty (GMT +6)</option><option value="263"> -- Amman (GMT +3)</option><option value="264"> -- Anadyr (GMT +12)</option><option value="265"> -- Aqtau (GMT +5)</option><option value="266"> -- Aqtobe (GMT +5)</option><option value="267"> -- Ashgabat (GMT +5)</option><option value="22"> -- Baghdad (GMT +3)</option><option value="268"> -- Bahrain (GMT +3)</option><option value="269"> -- Baku (GMT +5)</option><option value="270"> -- Bangkok (GMT +7)</option><option value="23"> -- Beirut (GMT +3)</option><option value="271"> -- Bishkek (GMT +6)</option><option value="272"> -- Brunei (GMT +8)</option><option value="273"> -- Choibalsan (GMT +8)</option><option value="274"> -- Chongqing (GMT +8)</option><option value="275"> -- Colombo (GMT +5.5)</option><option value="276"> -- Damascus (GMT +3)</option><option value="24"> -- Dhaka (GMT +6)</option><option value="277"> -- Dili (GMT +9)</option><option value="25"> -- Dubai (GMT +4)</option><option value="278"> -- Dushanbe (GMT +5)</option><option value="279"> -- Gaza (GMT +3)</option><option value="280"> -- Harbin (GMT +8)</option><option value="281"> -- Hebron (GMT +3)</option><option value="282"> -- Ho_Chi_Minh (GMT +7)</option><option value="283"> -- Hong_Kong (GMT +8)</option><option value="284"> -- Hovd (GMT +7)</option><option value="26"> -- Irkutsk (GMT +9)</option><option value="27"> -- Jakarta (GMT +7)</option><option value="285"> -- Jayapura (GMT +9)</option><option value="286"> -- Jerusalem (GMT +3)</option><option value="28"> -- Kabul (GMT +4.5)</option><option value="29"> -- Kamchatka (GMT +12)</option><option value="30"> -- Karachi (GMT +5)</option><option value="287"> -- Kashgar (GMT +8)</option><option value="31"> -- Kathmandu (GMT +5.75)</option><option value="32"> -- Kolkata (GMT +5.5)</option><option value="33"> -- Krasnoyarsk (GMT +8)</option><option value="288"> -- Kuala_Lumpur (GMT +8)</option><option value="289"> -- Kuching (GMT +8)</option><option value="290"> -- Kuwait (GMT +3)</option><option value="291"> -- Macau (GMT +8)</option><option value="292"> -- Magadan (GMT +12)</option><option value="293"> -- Makassar (GMT +8)</option><option value="294"> -- Manila (GMT +8)</option><option value="295"> -- Muscat (GMT +4)</option><option value="296"> -- Nicosia (GMT +3)</option><option value="297"> -- Novokuznetsk (GMT +7)</option><option value="298"> -- Novosibirsk (GMT +7)</option><option value="34"> -- Omsk (GMT +7)</option><option value="299"> -- Oral (GMT +5)</option><option value="300"> -- Phnom_Penh (GMT +7)</option><option value="301"> -- Pontianak (GMT +7)</option><option value="302"> -- Pyongyang (GMT +9)</option><option value="303"> -- Qatar (GMT +3)</option><option value="304"> -- Qyzylorda (GMT +6)</option><option value="35"> -- Rangoon (GMT +6.5)</option><option value="305"> -- Riyadh (GMT +3)</option><option value="306"> -- Sakhalin (GMT +11)</option><option value="307"> -- Samarkand (GMT +5)</option><option value="308"> -- Seoul (GMT +9)</option><option value="36"> -- Shanghai (GMT +8)</option><option value="309"> -- Singapore (GMT +8)</option><option value="310"> -- Taipei (GMT +8)</option><option value="311"> -- Tashkent (GMT +5)</option><option value="312"> -- Tbilisi (GMT +4)</option><option value="37"> -- Tehran (GMT +4.5)</option><option value="313"> -- Thimphu (GMT +6)</option><option value="38"> -- Tokyo (GMT +9)</option><option value="314"> -- Ulaanbaatar (GMT +8)</option><option value="315"> -- Urumqi (GMT +8)</option><option value="316"> -- Vientiane (GMT +7)</option><option value="39"> -- Vladivostok (GMT +11)</option><option value="40"> -- Yakutsk (GMT +10)</option><option value="41"> -- Yekaterinburg (GMT +6)</option><option value="42"> -- Yerevan (GMT +4)</option></optgroup>
                                                        <optgroup label='Atlantic'><option value="43"> -- Azores (GMT +0)</option><option value="317"> -- Bermuda (GMT -3)</option><option value="318"> -- Canary (GMT +1)</option><option value="44"> -- Cape_Verde (GMT -1)</option><option value="319"> -- Faroe (GMT +1)</option><option value="320"> -- Madeira (GMT +1)</option><option value="321"> -- Reykjavik (GMT +0)</option><option value="322"> -- South_Georgia (GMT -2)</option><option value="323"> -- St_Helena (GMT +0)</option><option value="324"> -- Stanley (GMT -3)</option></optgroup>
                                                        <optgroup label='Australia'><option value="45"> -- Adelaide (GMT +9.5)</option><option value="46"> -- Brisbane (GMT +10)</option><option value="325"> -- Broken_Hill (GMT +9.5)</option><option value="326"> -- Currie (GMT +10)</option><option value="47"> -- Darwin (GMT +9.5)</option><option value="48"> -- Eucla (GMT +8.75)</option><option value="327"> -- Hobart (GMT +10)</option><option value="328"> -- Lindeman (GMT +10)</option><option value="49"> -- Lord_Howe (GMT +10.5)</option><option value="329"> -- Melbourne (GMT +10)</option><option value="330"> -- Perth (GMT +8)</option><option value="50"> -- Sydney (GMT +10)</option></optgroup>
                                                        <optgroup label='Europe'><option value="331"> -- Amsterdam (GMT +2)</option><option value="332"> -- Andorra (GMT +2)</option><option value="333"> -- Athens (GMT +3)</option><option value="334"> -- Belgrade (GMT +2)</option><option value="54"> -- Berlin (GMT +2)</option><option value="335"> -- Bratislava (GMT +2)</option><option value="336"> -- Brussels (GMT +2)</option><option value="337"> -- Bucharest (GMT +3)</option><option value="338"> -- Budapest (GMT +2)</option><option value="339"> -- Chisinau (GMT +3)</option><option value="340"> -- Copenhagen (GMT +2)</option><option value="341"> -- Dublin (GMT +1)</option><option value="342"> -- Gibraltar (GMT +2)</option><option value="343"> -- Guernsey (GMT +1)</option><option value="344"> -- Helsinki (GMT +3)</option><option value="345"> -- Isle_of_Man (GMT +1)</option><option value="346"> -- Istanbul (GMT +3)</option><option value="347"> -- Jersey (GMT +1)</option><option value="348"> -- Kaliningrad (GMT +3)</option><option value="349"> -- Kiev (GMT +3)</option><option value="350"> -- Lisbon (GMT +1)</option><option value="351"> -- Ljubljana (GMT +2)</option><option value="55"> -- London (GMT +1)</option><option value="352"> -- Luxembourg (GMT +2)</option><option value="353"> -- Madrid (GMT +2)</option><option value="354"> -- Malta (GMT +2)</option><option value="355"> -- Mariehamn (GMT +3)</option><option value="356"> -- Minsk (GMT +3)</option><option value="357"> -- Monaco (GMT +2)</option><option value="56"> -- Moscow (GMT +4)</option><option value="358"> -- Oslo (GMT +2)</option><option value="359"> -- Paris (GMT +2)</option><option value="360"> -- Podgorica (GMT +2)</option><option value="361"> -- Prague (GMT +2)</option><option value="362"> -- Riga (GMT +3)</option><option value="363"> -- Rome (GMT +2)</option><option value="364"> -- Samara (GMT +4)</option><option value="365"> -- San_Marino (GMT +2)</option><option value="366"> -- Sarajevo (GMT +2)</option><option value="367"> -- Simferopol (GMT +3)</option><option value="368"> -- Skopje (GMT +2)</option><option value="369"> -- Sofia (GMT +3)</option><option value="370"> -- Stockholm (GMT +2)</option><option value="371"> -- Tallinn (GMT +3)</option><option value="372"> -- Tirane (GMT +2)</option><option value="373"> -- Uzhgorod (GMT +3)</option><option value="374"> -- Vaduz (GMT +2)</option><option value="375"> -- Vatican (GMT +2)</option><option value="376"> -- Vienna (GMT +2)</option><option value="377"> -- Vilnius (GMT +3)</option><option value="378"> -- Volgograd (GMT +4)</option><option value="379"> -- Warsaw (GMT +2)</option><option value="380"> -- Zagreb (GMT +2)</option><option value="381"> -- Zaporozhye (GMT +3)</option><option value="382"> -- Zurich (GMT +2)</option></optgroup>
                                                        <optgroup label='Indian'><option value="383"> -- Antananarivo (GMT +3)</option><option value="384"> -- Chagos (GMT +6)</option><option value="385"> -- Christmas (GMT +7)</option><option value="386"> -- Cocos (GMT +6.5)</option><option value="387"> -- Comoro (GMT +3)</option><option value="388"> -- Kerguelen (GMT +5)</option><option value="389"> -- Mahe (GMT +4)</option><option value="390"> -- Maldives (GMT +5)</option><option value="391"> -- Mauritius (GMT +4)</option><option value="392"> -- Mayotte (GMT +3)</option><option value="393"> -- Reunion (GMT +4)</option></optgroup>
                                                        <optgroup label='Pacific'><option value="57"> -- Apia (GMT +13)</option><option value="58"> -- Auckland (GMT +12)</option><option value="59"> -- Chatham (GMT +12.75)</option><option value="394"> -- Chuuk (GMT +10)</option><option value="60"> -- Easter (GMT -6)</option><option value="395"> -- Efate (GMT +11)</option><option value="396"> -- Enderbury (GMT +13)</option><option value="397"> -- Fakaofo (GMT +13)</option><option value="398"> -- Fiji (GMT +12)</option><option value="399"> -- Funafuti (GMT +12)</option><option value="400"> -- Galapagos (GMT -6)</option><option value="61"> -- Gambier (GMT -9)</option><option value="401"> -- Guadalcanal (GMT +11)</option><option value="402"> -- Guam (GMT +10)</option><option value="62"> -- Honolulu (GMT -10)</option><option value="403"> -- Johnston (GMT -10)</option><option value="63"> -- Kiritimati (GMT +14)</option><option value="404"> -- Kosrae (GMT +11)</option><option value="405"> -- Kwajalein (GMT +12)</option><option value="406"> -- Majuro (GMT +12)</option><option value="64"> -- Marquesas (GMT -9.5)</option><option value="407"> -- Midway (GMT -11)</option><option value="408"> -- Nauru (GMT +12)</option><option value="409"> -- Niue (GMT -11)</option><option value="65"> -- Norfolk (GMT +11.5)</option><option value="66"> -- Noumea (GMT +11)</option><option value="67"> -- Pago_Pago (GMT -11)</option><option value="410"> -- Palau (GMT +9)</option><option value="68"> -- Pitcairn (GMT -8)</option><option value="411"> -- Pohnpei (GMT +11)</option><option value="412"> -- Port_Moresby (GMT +10)</option><option value="413"> -- Rarotonga (GMT -10)</option><option value="414"> -- Saipan (GMT +10)</option><option value="415"> -- Tahiti (GMT -10)</option><option value="69"> -- Tarawa (GMT +12)</option><option value="70"> -- Tongatapu (GMT +13)</option><option value="416"> -- Wake (GMT +12)</option><option value="417"> -- Wallis (GMT +12)</option></optgroup>
                                                        <option value="418">UTC (GMT +0)</option>
                                                    </select>
                                                </fieldset>

                                            </li>
                                        </ul>
                                        <input class="orange small buttons" type="submit" value="Update">
                                    </form>
                                </div>
                            </div>
                        </div><!--module-->

                        <div class="module">
                            <h3 class="orange bold">Special Offers</h3>

                            <div class="content">
                                <p>
                                    Subscribe to QuiBids promotional email for special offers to receive free bids, rewards, news on site features, and more!					</br>
                                    <strong>Note</strong>: These preferences do not apply to transactional emails such as order confirmations account changes.
                                </p>
                                <form>
                                    <input type="hidden" name="action" value="update">
                                    <fieldset>
                                        <input type="radio" name="EmailNewsletter" class="checkbox" value="Yes" checked="checked">
                                        Yes. I want to get offers for Free Bids and other QuiBids promotions!							</br>
                                        <input type="radio" name="EmailNewsletter" class="checkbox" value="No">
                                        No Thanks. I do not want offers for free bids or QuiBids promotions.
                                    </fieldset>
                                    </br></br></br>
                                    <input style="float:right" class="orange buttons small" type="submit" value="Update">
                                </form>
                            </div>

                        </div><!--module--><!--module-->
                        <div class="module">
                            <h3 class="orange bold">My Addresses</h3>
                            <div class="content">
                                <div class="module-left no-borders ship">
                                    <p class="bold">Shipping:</p>
                                    <ul class="boxes">
                                        <li>No Shipping Addresses Saved</li>
                                    </ul>

                                </div>
                                <div class="module-right no-borders ship">
                                    <p class="bold">Billing:</p>
                                    <ul class="boxes">
                                        <li>No Billing Addresses Saved</li>
                                    </ul>

                                </div>
                            </div>
                        </div><!--module-->
                    </div>
                    <!--main-content-->
                    <div id="side-content" class="twocol-left">
                        <div class="module">
                            <div class="content">
                                <h4 class="blue-background">
                                    Hi, @Model.Fname
                                </h4>

                                <div class="content-left">
                                    <p><img src="~/Content/img/Footer-Bar/52.png" class="img" border='0' /></p>

                                    <p><a href="https://www.quibids.com/en/account/myaccount/avatar.php">(Change)</a></p>
                                </div>

                                <div class="content-right">
                                    <p class="bold">Last Login</p>
                                    <p>@Model.LastLogin.Value.ToString("MMM dd, yyyy")</p>

                                    <hr>
                                    <p class="bold">Remaining Bids</p>
                                    <p><span>Real Bids <span class="right green">@Model.RealBid</span> </span></p>
                                    <p><span>Voucher Bids</span> <span class="right green">@Model.VoucherBid</span></p>
                                    <hr>
                                    <p><span>Total Bids</span> <span class="right green">@(Model.RealBid + Model.VoucherBid)</span> </p>

                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="module">
                            <h3><img class="refer-icon" src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/account/contact-icon.png" /> Contact Support</h3>
                            <div class="content">

                                <p>Got a question? We’ve got answers. For simple solutions, check out our easy-to-access <a href="/en/help/index.php">Help</a> section. For stickier situations, connect to <a href="/en/help/support.php">Live Chat</a> or submit a support request below.</p>
                                <p class="center"><a href="/en/help/support.php" class="buttons medium blue">Contact Support</a></p>
                            </div>
                        </div><!--module-->
                    </div><!--side-content-->
                </div><!--content-->
            </div><!--container-->
        </div><!--wrapper-->
    </div><!--gloss-->

</body>
<script>
    function GetCountry() {

    }
</script>