@*@model DataLayer.User*@
@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_MyAccountLayout.cshtml";
}

<title>My Account Information - QuiBids.com</title>




<div id="main-content" class="twocol-left">


    <div class="module">
        <h3 class="orange bold">My Profile</h3>

        <div style="direction:rtl" class="content">
            <div class="module-right" style="text-align:right">
                <form method="POST" action="@Url.Action("UpdateProfile", "Account")">
                    <input type="hidden" name="action" value="updatePreferences" />
                    <input type="hidden" name="Id" value="@Model.Id" />

                    <ul>
                        <li>@Model.Fname @Model.Lname</li>
                        <li>@Model.Email</li>
                        <li>@Model.Email (<a href="email.php">Update</a>)</li>
                        <li>
                            <fieldset style="float:right">
                                @if (!Model.HideLocation)
                                {

                                    <input name="incognito" value="Yes" type="radio" class="checkbox">
                                    <span>Yes</span>
                                    <input name="incognito" value="No" type="radio" class="checkbox" checked>
                                    <span>No</span>

                                }
                                else
                                {
                                    <input name="incognito" value="Yes" type="radio" class="checkbox" checked>
                                    <span>Yes</span>
                                    <input name="incognito" value="No" type="radio" class="checkbox">
                                    <span>No</span>

                                }
                            </fieldset>

                            &nbsp; &nbsp; <a href="#" class="tooltip-top" title="What's Hide My Location?<br/>While we assure you that shopping on QuiBids isn't directly compromising to your online security, we<br/>understand your wish to remain as anonymous as possible when using the Internet.  This is why we've<br/>built the Hide My Location option into your user profile, so you can maintain a certain level of mystique<br/>to other users. Select Yes and your location will appear as the country from where you're bidding."><img src="https://dcfv5z6t7wfeu.cloudfront.net//site/images/auctions/question-hover.png" /></a>
                        </li>
                        <li>
                            <fieldset style="float:right">
                                @*<select name="account_timezone" id="accountTimezone">*@
                                <select class="form-control" id="departmentsDropdown" name="CountryId"></select>
                                @*</select>*@
                            </fieldset>

                        </li>
                    </ul>
                    <input class="orange small buttons" type="submit" value="Update">
                </form>
            </div>

            <div style="direction:rtl;text-align:right" class="module-left">
                <ul>
                    <li class="bold">نام :</li>
                    <li class="bold">نام کاربری :</li>
                    <li class="bold">ایمیل :</li>
                    <li class="bold">مخفی کردن موقعیت :</li>
                    <li class="bold"> کشور :</li>
                </ul>
            </div>

        </div>
    </div><!--module-->

    <div class="module">
        <h3 class="orange bold">Special Offers</h3>

        <div class="content">
            <p>
                Subscribe to QuiBids promotional email for special offers to receive free bids, rewards, news on site features, and more!					</br>
                <strong>Note</strong>: These preferences do not apply to transactional emails such as order confirmations account changes.
            </p>
            <form>
                <input type="hidden" name="action" value="update">
                <fieldset>
                    <input type="radio" name="EmailNewsletter" class="checkbox" value="Yes" checked="checked">
                    Yes. I want to get offers for Free Bids and other QuiBids promotions!							</br>
                    <input type="radio" name="EmailNewsletter" class="checkbox" value="No">
                    No Thanks. I do not want offers for free bids or QuiBids promotions.
                </fieldset>
                </br></br></br>
                <input style="float:right" class="orange buttons small" type="submit" value="Update">
            </form>
        </div>

    </div><!--module--><!--module-->
    <div class="module">
        <h3 class="orange bold">My Addresses</h3>
        <div class="content">
            <div class="module-left no-borders ship">
                <p class="bold">Shipping:</p>
                <ul class="boxes">
                    <li>No Shipping Addresses Saved</li>
                </ul>

            </div>
            <div class="module-right no-borders ship">
                <p class="bold">Billing:</p>
                <ul class="boxes">
                    <li>No Billing Addresses Saved</li>
                </ul>

            </div>
        </div>
    </div><!--module-->
</div>
<!--main-content-->

@section Scripts{
    <script src="~/Scripts/JScript/jquery.min.js"></script>

    <script>
        $(function () {
            $('.tabs li').each(function (index) {
                var tabClass = $(this).attr('class');
                if (tabClass == "myaccount") {
                    $(this).addClass('ui-state-active');
                }
            });
            $('.panel-content li').each(function (index) {
                var panelHtml = $(this).attr('class');
                if (panelHtml == "myinformation") {
                    $(this).addClass('active');
                }
            });


            if ($('.panel-content').length == 0) {
                $('.tab-nav').css('border', '0px');
            }
            //$.scrollTo('.tab-nav',0);

            $.ajax({
                type: "POST",
                url: "/Account/GetCountries/",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Country</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].countryID + '">' + data[i].countryName + '</option>';
                    }
                    $("#departmentsDropdown").html(s);
                }
            });
        });
    </script>
}
